In [115]:
import pandas as pd
import numpy as np
import openpyxl

In [116]:
def dataframes(file):
    try:
        diccionario_dataframes = pd.read_excel(file, sheet_name=None)

        return diccionario_dataframes

    except Exception as e:
        print(f"Error al cargar hojas como DataFrames: {e}")
        return None

In [117]:
file = "DATA_INICIO/homicidios.xlsx"
df_sheets = dataframes(file)

if df_sheets is not None:
    hechos = df_sheets['HECHOS']
    hechos_dict = df_sheets['DICCIONARIO_HECHOS']
    victimas = df_sheets['VICTIMAS']
    victimas_dict = df_sheets['DICCIONARIO_VICTIMAS']
    clas = df_sheets['clas']

In [118]:
file = "DATA_INICIO/lesiones.xlsx"
df_sheets = dataframes(file)

if df_sheets is not None:
    les_hechos = df_sheets['HECHOS']
    les_hechos_dict = df_sheets['DICCIONARIO_HECHOS']
    les_victimas = df_sheets['VICTIMAS']
    les_victimas_dict = df_sheets['DICCIONARIO_VICTIMAS']

Cargo la Base de Datos que se encuentra en extensión de excel, y transformo cada pagina en un data frame, seguido a eso observo cada dataframe creado y analizo que columnas y datos serán relevantes para la posterior utilización y creación de analisis especificos.

In [119]:
hechos.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

In [120]:
victimas

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...
712,2021-0092,2021-12-12,2021,12,12,PEATON,PEATON,FEMENINO,50,2021-12-12 00:00:00
713,2021-0093,2021-12-13,2021,12,13,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,18,2021-12-18 00:00:00
714,2021-0094,2021-12-20,2021,12,20,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,43,2021-12-20 00:00:00
715,2021-0095,2021-12-30,2021,12,30,CONDUCTOR,MOTO,MASCULINO,27,2022-01-02 00:00:00
716,2021-0096,2021-12-15,2021,12,15,CONDUCTOR,AUTO,MASCULINO,60,2021-12-20 00:00:00

In [121]:
clas

,Original_victima,LESIONES,FATALES INFORME ANUAL,Unnamed: 3,Original_acusado,LESIONES.1,FATALES INFORME ANUAL.1
0,PEATON,PEATON,PEATON,NaN,TRANSPORTE PUBLICO,TRANSPORTE PUBLICO,PASAJEROS
1,PEATON,PEATON,PEATON,NaN,SIN DATOS,SD,SIN DATOS
2,MOTO,MOTO,MOTO,NaN,AUTO PARTICULAR,AUTO,AUTO
3,AUTO,AUTO,AUTO,NaN,MOTO,MOTO,MOTO
4,AUTO PARTICULAR,AUTO,AUTO,NaN,CAMION,CAMION,CARGAS
5,TAXI,TAXI,AUTO,NaN,UTILITARIO,CAMIONETA,CARGAS
6,TAXI/REMIS,TAXI,AUTO,NaN,TRANSPORTE DE CARGAS / GRUA / VOLQUETES,CAMION,CARGAS
7,CAMION,CAMION,CARGAS,NaN,TREN / FURGON,TREN,TREN
8,TRANSPORTE DE CARGAS / GRUA,CAMION,CARGAS,NaN,OMNIBUS / MINIBUS,TRANSPORTE PUBLICO,PASAJEROS
9,UTILITARIO,CAMIONETA,CARGAS,NaN,TAXI/REMIS,TAXI,AUTO
10,BICICLETA,BICICLETA,BICICLETA,NaN,AMBULANCIA,MOVIL,OTRO
11,TRANSPORTE DE PASAJEROS,TRANSPORTE PUBLICO,PASAJEROS,NaN,AUTOBOMBA,MOVIL,OTRO
12,TRANSPORTE PUBLICO,TRANSPORTE PUBLICO,PASAJEROS,NaN,BICICLETA,BICICLETA,BICICLETA
13,SIN DATOS,SD,SD,NaN,AUTO PFA / MOVIL / GENDARMERIA / METROPOLITANA...,MOVIL,OTRO
14,AMBULANCIA,MOVIL,MOVIL,NaN,TRANSPORTE ESCOLAR,TRANSPORTE PUBLICO,PASAJEROS
15,AUTO PFA / MOVIL / GENDARMERIA / METROPOLITANA...,MOVIL,MOVIL,NaN,TRANSPORTE DE CARGAS / GRUA,CAMION,CARGAS
16,MOVIL,MOVIL,OTRO,NaN,TREN,TREN,TREN
17,NaN,NaN,NaN,NaN,PATRULLERO,MOVIL,OTRO
18,NaN,NaN,NaN,NaN,TAXI,TAXI,AUTO
19,NaN,NaN,NaN,NaN,AUTO,AUTO,AUTO
20,NaN,NaN,NaN,NaN,TRANSPORTE DE PASAJEROS,TRANSPORTE PUBLICO,PASAJEROS
21,NaN,NaN,NaN,NaN,TRANSPORTE DE CARGAS,CAMION,CARGAS
22,NaN,NaN,NaN,NaN,TRANSPORTE DE CARGA,CAMION,CARGAS
23,NaN,NaN,NaN,NaN,OBJETO FIJO,OBJETO FIJO,OBJETO FIJO
24,NaN,NaN,NaN,NaN,MAQUINARIA VIAL,OTRO,OTRO
25,NaN,NaN,NaN,NaN,sd,SD,SD
26,NaN,NaN,NaN,NaN,MOVIL,MOVIL,OTRO
27,NaN,NaN,NaN,NaN,OTRO,OTRO,OTRO

In [122]:
hechos_dict

,variables y definiciones,descripción,Unnamed: 2
0,ID,identificador unico del siniestro,NaN
1,N_VICTIMAS,cantidad de víctimas,NaN
2,FECHA,fecha en formato dd/mm/aaaa,NaN
3,AAAA,año,NaN
4,MM,mes,NaN
5,DD,día del mes,NaN
6,HORA,hora del siniestro,NaN
7,HH,franja horaria entera,NaN
8,LUGAR_DEL_HECHO,Dirección del hecho,NaN
9,TIPO_DE_CALLE,Tipo de arteria. En el caso de intersecciones ...,NaN
10,Calle,nombre de la arteria donde se produjo el hecho,NaN
11,Altura,altura de la arteria donde se produjo el hecho,NaN
12,Cruce,cruce en caso de que sea una encrucijada,NaN
13,Dirección Normalizada,direccion en formato normalizado USIG,NaN
14,COMUNA,Comuna de la ciudad (1 a 15),NaN
15,XY (CABA),geocodificación plana,NaN
16,pos x,longitud con separador punto. WGS84,NaN
17,pos y,latitud con separador punto. WGS84,NaN
18,PARTICIPANTES,conjunción de víctima y acusado,NaN
19,VICTIMA,Vehículo que ocupaba quien haya fallecido a se...,NaN
20,ACUSADO,Vehículo que ocupaba quien resultó acusado/a d...,NaN
21,NaN,NaN,NaN
22,Variables,valores,descripción
23,TIPO_DE_CALLE,calle,Arteria cuya calzada tiene un ancho comprendid...
24,NaN,avenida,Arteria cuya calzada tiene un ancho total de p...
25,NaN,autopista,Vía multicarril con calzadas para ambas manos ...
26,NaN,general paz,"Avenida General Paz, ambos sentidos. Incluye i..."
27,VICTIMA,PEATON,Víctima distinta de cualquier ocupante de un v...
28,NaN,MOTO,Vehículo a motor no carrozado que incluye moto...
29,NaN,AUTO,Vehículo a motor destinado al transporte de pe...
30,NaN,CARGAS,Vehículo a motor destiando al transporte de ca...
31,NaN,BICICLETA,"Vehículo con al menos dos ruedas, que generalm..."
32,NaN,PASAJEROS,"Personas lesionadas que se encuentran dentro, ..."
33,NaN,MOVIL,"Vehículos de emergencia: móviles policiales, a..."
34,NaN,OTRO,otros vehiculos
35,NaN,SD,Sin datos sobre el tipo de víctima
36,ACUSADO,AUTO,Vehículo a motor destinado al transporte de pe...
37,NaN,BICICLETA,"Vehículo con al menos dos ruedas, que generalm..."
38,NaN,CARGAS,Vehículo a motor destiando al transporte de ca...
39,NaN,MOTO,Vehículo a motor no carrozado que incluye moto...
40,NaN,OBJETO FIJO,Colisión contra objetos inmóviles fijados de m...
41,NaN,PASAJEROS,"Personas lesionadas que se encuentran dentro, ..."
42,NaN,TREN,Equipo móvil que se desplaza exclusivamente so...
43,NaN,OTRO,otros vehiculos
44,NaN,SD,Sin datos sobre el vehículo participante
45,PARTICIPANTES,MULTIPLE,cuando participan más de un vehículo como cont...

In [123]:
victimas_dict

,variables y definiciones,descripción,Unnamed: 2
0,ID_hecho,identificador unico del siniestro,NaN
1,FECHA,fecha en formato dd/mm/aaaa,NaN
2,AAAA,año,NaN
3,MM,mes,NaN
4,DD,día del mes,NaN
5,ROL,Posición relativa al vehículo que presentaba l...,NaN
6,VICTIMA,Vehículo que ocupaba quien haya fallecido a se...,NaN
7,SEXO,Sexo informado por fuente policial de la víctima,NaN
8,EDAD,Edad de la víctima al momento del siniestro,NaN
9,FECHA_FALLECIMIENTO,Fecha de fallecimiento de la víctima,NaN
10,NaN,NaN,NaN
11,Variables,valores,descripción
12,VICTIMA,PEATON,Víctima distinta de cualquier ocupante de un v...
13,NaN,MOTO,Vehículo a motor no carrozado que incluye moto...
14,NaN,AUTO,Vehículo a motor destinado al transporte de pe...
15,NaN,CARGAS,Vehículo a motor destiando al transporte de ca...
16,NaN,BICICLETA,"Vehículo con al menos dos ruedas, que generalm..."
17,NaN,PASAJEROS,"Personas lesionadas que se encuentran dentro, ..."
18,NaN,MOVIL,"Vehículos de emergencia: móviles policiales, a..."
19,NaN,OTRO,otros vehiculos
20,NaN,SD,Sin datos sobre el tipo de víctima

In [124]:
hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

In [125]:
hechos.isna().sum()

ID                         0
N_VICTIMAS                 0
FECHA                      0
AAAA                       0
MM                         0
DD                         0
HORA                       0
HH                         0
LUGAR_DEL_HECHO            0
TIPO_DE_CALLE              0
Calle                      1
Altura                   567
Cruce                    171
Dirección Normalizada      8
COMUNA                     0
XY (CABA)                  0
pos x                      0
pos y                      0
PARTICIPANTES              0
VICTIMA                    0
ACUSADO                    0
dtype: int64

In [126]:
hechos_calle_nan = hechos[hechos['Calle'].isna()]

In [127]:
hechos_calle_nan

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
119,2016-0151,1,2016-11-18,2016,11,18,20:35:00,20,SD,CALLE,...,NaN,NaN,NaN,0,Point (. .),.,.,PEATON-SD,PEATON,SD

In [128]:
hechos = hechos.rename(columns={'AAAA':'ANIO', 'MM': 'MES', 'DD': 'DIA'})

In [129]:
victimas = victimas.rename(columns={'ID_hecho':'ID'})

In [130]:
victimas

,ID,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...
712,2021-0092,2021-12-12,2021,12,12,PEATON,PEATON,FEMENINO,50,2021-12-12 00:00:00
713,2021-0093,2021-12-13,2021,12,13,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,18,2021-12-18 00:00:00
714,2021-0094,2021-12-20,2021,12,20,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,43,2021-12-20 00:00:00
715,2021-0095,2021-12-30,2021,12,30,CONDUCTOR,MOTO,MASCULINO,27,2022-01-02 00:00:00
716,2021-0096,2021-12-15,2021,12,15,CONDUCTOR,AUTO,MASCULINO,60,2021-12-20 00:00:00

In [131]:
homicidios = hechos.merge(victimas, on='ID')

In [132]:
homicidios

,ID,N_VICTIMAS,FECHA_x,ANIO,MES,DIA,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,ACUSADO,FECHA_y,AAAA,MM,DD,ROL,VICTIMA_y,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,AUTO,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,PASAJEROS,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,AUTO,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,SD,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,PASAJEROS,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,2021-0093,1,2021-12-13,2021,12,13,17:10:00,17,AV. RIESTRA Y MOM,AVENIDA,...,AUTO,2021-12-13,2021,12,13,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,18,2021-12-18 00:00:00
713,2021-0094,1,2021-12-20,2021,12,20,01:10:00,1,AU DELLEPIANE Y LACARRA,AUTOPISTA,...,AUTO,2021-12-20,2021,12,20,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,43,2021-12-20 00:00:00
714,2021-0095,1,2021-12-30,2021,12,30,00:43:00,0,AV. GAONA Y TERRADA,AVENIDA,...,CARGAS,2021-12-30,2021,12,30,CONDUCTOR,MOTO,MASCULINO,27,2022-01-02 00:00:00
715,2021-0096,1,2021-12-15,2021,12,15,10:30:00,10,AV. EVA PERON 4071,AVENIDA,...,CARGAS,2021-12-15,2021,12,15,CONDUCTOR,AUTO,MASCULINO,60,2021-12-20 00:00:00
716,2021-0097,1,2021-11-18,2021,11,18,06:10:00,6,PADRE CARLOS MUJICA 709,CALLE,...,AUTO,2021-11-18,2021,11,18,CICLISTA,BICICLETA,MASCULINO,53,2021-11-19 00:00:00

Observo que fechas son diferentes en launión de los dataframes, encontramos 2, por lo que intuyo que se trata en FECHA_y comoel día de fallecimiento, y FECHA_xcomodía del accidente, se corrobora en la columna FECHA_FALLECIMIENTO, se procede a eliminar FECHA_y y resto de datos repetidos.

In [133]:
iguales = homicidios[homicidios['FECHA_x'] != homicidios['FECHA_y']]
iguales

,ID,N_VICTIMAS,FECHA_x,ANIO,MES,DIA,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,ACUSADO,FECHA_y,AAAA,MM,DD,ROL,VICTIMA_y,SEXO,EDAD,FECHA_FALLECIMIENTO
65,2016-0087,1,2016-07-02,2016,7,3,00:10:00,0,AUTOPISTA 1 SUR PTE ARTURO FRONDIZI Y AV CASEROS,AUTOPISTA,...,OBJETO FIJO,2016-07-03,2016,7,3,CONDUCTOR,MOTO,MASCULINO,23,2016-07-03 00:00:00
204,2017-0069,1,2017-05-24,2017,5,24,14:15:00,14,AV. GRAL. PAZ Y ULRICO SCHMIDL,GRAL PAZ,...,SD,2017-05-29,2017,5,29,CONDUCTOR,MOTO,MASCULINO,39,2017-05-29 00:00:00

In [134]:
homicidiosV = homicidios[['VICTIMA_x', 'VICTIMA_y']]

En ete caso podemos ver que la diferencia de datos proviene de en x la descripción, talvez mal cargada, de losintervinientes en el hecho o la razón del fallecimiento, en y notamos de quien se trataría la victima mortal o en qué venia lavictima mortal al momento del hecho, por cuestiones de legalidad en  muchos casos aquel que provoca el hecho y a su vez fallece, se lo debe tratar como victima.

In [135]:
igualesV = homicidiosV[homicidiosV['VICTIMA_x'] != homicidiosV['VICTIMA_y']]
igualesV

       VICTIMA_x VICTIMA_y
237  OBJETO FIJO      AUTO
238  OBJETO FIJO      AUTO
602  PEATON_MOTO    PEATON
603  PEATON_MOTO      MOTO

Se renombran las columnas para darle mas sentido y entendimiento y se eliminan las que ya no van a aportar datos o están repetidos.

In [136]:
homicidios = homicidios.drop(columns=['AAAA', 'MM', 'DD', 'LUGAR_DEL_HECHO','FECHA_y', 'VICTIMA_x', 'XY (CABA)', 'HH', 'Calle', 'Altura', 'Dirección Normalizada', 'Cruce' ],axis=1)

In [137]:
homicidios = homicidios.rename(columns={'FECHA_x': 'FECHA','TIPO_DE_CALLE':'MEDIO', 'pos x':'X', 'pos y':'Y', 'FECHA_FALLECIMIENTO': 'OBITO', 'N_VICTIMAS': 'VICTIMAS','VICTIMA_y':'DAMNIFICADO'})

In [138]:
homicidios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             717 non-null    object
 1   VICTIMAS       717 non-null    int64
 2   FECHA          717 non-null    datetime64[ns]
 3   ANIO           717 non-null    int64
 4   MES            717 non-null    int64
 5   DIA            717 non-null    int64
 6   HORA           717 non-null    object
 7   MEDIO          717 non-null    object
 8   COMUNA         717 non-null    int64
 9   X              717 non-null    object
 10  Y              717 non-null    object
 11  PARTICIPANTES  717 non-null    object
 12  ACUSADO        717 non-null    object
 13  ROL            717 non-null    object
 14  DAMNIFICADO    717 non-null    object
 15  SEXO           717 non-null    object
 16  EDAD           717 non-null    object
 17  OBITO          717 non-null    object
dtypes: datetime64[ns](1), int64(5), object(12)
memory usage: 101.0+ KB

In [139]:
homicidios

,ID,VICTIMAS,FECHA,ANIO,MES,DIA,HORA,MEDIO,COMUNA,X,Y,PARTICIPANTES,ACUSADO,ROL,DAMNIFICADO,SEXO,EDAD,OBITO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,AVENIDA,8,-58.47533969,-34.68757022,MOTO-AUTO,AUTO,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,GRAL PAZ,9,-58.50877521,-34.66977709,AUTO-PASAJEROS,PASAJEROS,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,AVENIDA,1,-58.39040293,-34.63189362,MOTO-AUTO,AUTO,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,AVENIDA,8,-58.46503904,-34.68092974,MOTO-SD,SD,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,AVENIDA,1,-58.38718297,-34.62246630,MOTO-PASAJEROS,PASAJEROS,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,2021-0093,1,2021-12-13,2021,12,13,17:10:00,AVENIDA,7,-58.43353773,-34.64561636,MOTO-AUTO,AUTO,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,18,2021-12-18 00:00:00
713,2021-0094,1,2021-12-20,2021,12,20,01:10:00,AUTOPISTA,9,-58.46739825,-34.65117757,MOTO-AUTO,AUTO,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,43,2021-12-20 00:00:00
714,2021-0095,1,2021-12-30,2021,12,30,00:43:00,AVENIDA,11,-58.47293407,-34.61984745,MOTO-CARGAS,CARGAS,CONDUCTOR,MOTO,MASCULINO,27,2022-01-02 00:00:00
715,2021-0096,1,2021-12-15,2021,12,15,10:30:00,AVENIDA,9,-58.47066794,-34.65021673,AUTO-CARGAS,CARGAS,CONDUCTOR,AUTO,MASCULINO,60,2021-12-20 00:00:00
716,2021-0097,1,2021-11-18,2021,11,18,06:10:00,CALLE,1,-58.37976155,-34.58679619,BICICLETA-AUTO,AUTO,CICLISTA,BICICLETA,MASCULINO,53,2021-11-19 00:00:00

In [140]:
homicidios['OBITO'] = homicidios['OBITO'].replace({'sd': 1, 'SD': 1, np.nan: 1, 'nulo': 1})

In [141]:
homicidios['OBITO'] = homicidios['OBITO'].apply(lambda x: 0 if x == 0 else 1)

In [142]:
homicidios['OBITO'].unique()

array([1])

In [143]:
homicidios.isna().sum()

ID               0
VICTIMAS         0
FECHA            0
ANIO             0
MES              0
DIA              0
HORA             0
MEDIO            0
COMUNA           0
X                0
Y                0
PARTICIPANTES    0
ACUSADO          0
ROL              0
DAMNIFICADO      0
SEXO             0
EDAD             0
OBITO            0
dtype: int64

In [144]:
homicidios.to_csv('DATA/homicidios.csv', index=False)

In [145]:
les_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23785 entries, 0 to 23784
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     23785 non-null  object
 1   n_victimas             23785 non-null  int64
 2   aaaa                   23785 non-null  int64
 3   mm                     23785 non-null  int64
 4   dd                     23785 non-null  int64
 5   fecha                  23785 non-null  object
 6   hora                   23785 non-null  object
 7   franja_hora            23780 non-null  object
 8   direccion_normalizada  23732 non-null  object
 9   comuna                 23616 non-null  object
 10  tipo_calle             23785 non-null  object
 11  otra_direccion         23785 non-null  object
 12  calle                  12867 non-null  object
 13  altura                 12771 non-null  float64
 14  cruce                  9407 non-null   object
 15  geocodificacion_CABA   23746 non-null  object
 16  longitud               23523 non-null  object
 17  latutid                23523 non-null  object
 18  victima                23785 non-null  object
 19  acusado                23785 non-null  object
 20  participantes          23785 non-null  object
 21  moto                   23692 non-null  object
 22  auto                   23692 non-null  object
 23  transporte_publico     23692 non-null  object
 24  camion                 23692 non-null  object
 25  ciclista               23692 non-null  object
 26  gravedad               23785 non-null  object
dtypes: float64(1), int64(4), object(22)
memory usage: 4.9+ MB

In [146]:
les_hechos

,id,n_victimas,aaaa,mm,dd,fecha,hora,franja_hora,direccion_normalizada,comuna,...,latutid,victima,acusado,participantes,moto,auto,transporte_publico,camion,ciclista,gravedad
0,LC-2019-0000179,1,2019,1,1,2019-01-01 00:00:00,09:00:00,9,SD,14,...,-34.559658,CICLISTA,SD,CICLISTA-SD,SD,SD,SD,SD,x,SD
1,LC-2019-0000053,1,2019,1,1,2019-01-01 00:00:00,01:55:00,1,SD,8,...,-34.669125,AUTO,SD,AUTO-SD,SD,x,SD,SD,SD,SD
2,LC-2019-0000063,1,2019,1,1,2019-01-01 00:00:00,02:00:00,2,SD,8,...,-34.677556,SD,SD,SD-SD,SD,SD,SD,SD,SD,SD
3,LC-2019-0000079,1,2019,1,1,2019-01-01 00:00:00,02:30:00,2,SD,7,...,-34.647349,PEATON,SD,PEATON-SD,x,SD,SD,SD,SD,SD
4,LC-2019-0000082,4,2019,1,1,2019-01-01 00:00:00,04:30:00,4,SD,3,...,-34.604579,AUTO,SD,AUTO-SD,SD,SD,x,SD,SD,SD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23780,LC-2021-0652849,1,2021,12,31,2021-12-31 00:00:00,19:30:00,19,"ALBERDI, JUAN BAUTISTA AV. y GUAMINI",9,...,-34.659713573880,SD,SD,SD-SD,SD,SD,SD,SD,SD,SD
23781,LC-2021-0652865,2,2021,12,31,2021-12-31 00:00:00,19:40:00,19,"ALBERDI, JUAN BAUTISTA AV. 4436",9,...,-34.641753304864,SD,SD,SD-SD,SD,SD,SD,SD,SD,SD
23782,LC-2021-0652907,1,2021,12,31,2021-12-31 00:00:00,20:00:00,20,SD,1,...,-34.583083,SD,SD,SD-SD,SD,SD,SD,SD,SD,SD
23783,LC-2021-0652921,1,2021,12,31,2021-12-31 00:00:00,22:00:00,22,LINIERS VIRREY y MORENO,5,...,-34.614288229345,MOTO,TRANSPORTE PUBLICO,MOTO-TRANSPORTE PUBLICO,x,0,x,0,0,GRAVE
23784,LC-2020-0244615,1,2020,5,17,5/17/2020,21:00:00,21,SD,SD,...,-3472890716,MOTO,AUTO,MOTO-AUTO,x,x,0,0,0,SD

In [147]:
les_hechos['fecha'] = pd.to_datetime(les_hechos['fecha'])

In [148]:
les_hechos

,id,n_victimas,aaaa,mm,dd,fecha,hora,franja_hora,direccion_normalizada,comuna,...,latutid,victima,acusado,participantes,moto,auto,transporte_publico,camion,ciclista,gravedad
0,LC-2019-0000179,1,2019,1,1,2019-01-01,09:00:00,9,SD,14,...,-34.559658,CICLISTA,SD,CICLISTA-SD,SD,SD,SD,SD,x,SD
1,LC-2019-0000053,1,2019,1,1,2019-01-01,01:55:00,1,SD,8,...,-34.669125,AUTO,SD,AUTO-SD,SD,x,SD,SD,SD,SD
2,LC-2019-0000063,1,2019,1,1,2019-01-01,02:00:00,2,SD,8,...,-34.677556,SD,SD,SD-SD,SD,SD,SD,SD,SD,SD
3,LC-2019-0000079,1,2019,1,1,2019-01-01,02:30:00,2,SD,7,...,-34.647349,PEATON,SD,PEATON-SD,x,SD,SD,SD,SD,SD
4,LC-2019-0000082,4,2019,1,1,2019-01-01,04:30:00,4,SD,3,...,-34.604579,AUTO,SD,AUTO-SD,SD,SD,x,SD,SD,SD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23780,LC-2021-0652849,1,2021,12,31,2021-12-31,19:30:00,19,"ALBERDI, JUAN BAUTISTA AV. y GUAMINI",9,...,-34.659713573880,SD,SD,SD-SD,SD,SD,SD,SD,SD,SD
23781,LC-2021-0652865,2,2021,12,31,2021-12-31,19:40:00,19,"ALBERDI, JUAN BAUTISTA AV. 4436",9,...,-34.641753304864,SD,SD,SD-SD,SD,SD,SD,SD,SD,SD
23782,LC-2021-0652907,1,2021,12,31,2021-12-31,20:00:00,20,SD,1,...,-34.583083,SD,SD,SD-SD,SD,SD,SD,SD,SD,SD
23783,LC-2021-0652921,1,2021,12,31,2021-12-31,22:00:00,22,LINIERS VIRREY y MORENO,5,...,-34.614288229345,MOTO,TRANSPORTE PUBLICO,MOTO-TRANSPORTE PUBLICO,x,0,x,0,0,GRAVE
23784,LC-2020-0244615,1,2020,5,17,2020-05-17,21:00:00,21,SD,SD,...,-3472890716,MOTO,AUTO,MOTO-AUTO,x,x,0,0,0,SD

In [149]:
les_hechos['gravedad'].unique()

array(['SD', 'GRAVE', 'sd', 'FATAL', 'grave'], dtype=object)

In [150]:
les_victimas

,ID hecho,AAA,MM,DD,FECHA,VEHICULO_VICTIMA,SEXO,EDAD_VICTIMA,GRAVEDAD
0,LC-2019-0000053,2019,1,1,2019-01-01,sd,Varon,57,SD
1,LC-2019-0000063,2019,1,1,2019-01-01,sd,SD,SD,SD
2,LC-2019-0000079,2019,1,1,2019-01-01,sd,Varon,SD,SD
3,LC-2019-0000082,2019,1,1,2019-01-01,sd,Varon,45,SD
4,LC-2019-0000082,2019,1,1,2019-01-01,sd,Mujer,45,SD
...,...,...,...,...,...,...,...,...,...
27600,LC-2021-0451911,2021,9,11,2021-09-11,TRANSPORTE PUBLICO,Varon,87,SD
27601,LC-2021-0530228,2021,10,25,2021-10-25,TRANSPORTE PUBLICO,Mujer,60,SD
27602,LC-2021-0530228,2021,10,25,2021-10-25,TRANSPORTE PUBLICO,Mujer,32,SD
27603,LC-2021-0201378,2021,5,2,2021-05-02,MOTO,Varon,32,SD
27604,LC-2021-0229350,2021,5,19,2021-05-19,MOTO,Varon,41,SD

In [151]:
les_hechos.isna().sum()

id                           0
n_victimas                   0
aaaa                         0
mm                           0
dd                           0
fecha                        0
hora                         0
franja_hora                  5
direccion_normalizada       53
comuna                     169
tipo_calle                   0
otra_direccion               0
calle                    10918
altura                   11014
cruce                    14378
geocodificacion_CABA        39
longitud                   262
latutid                    262
victima                      0
acusado                      0
participantes                0
moto                        93
auto                        93
transporte_publico          93
camion                      93
ciclista                    93
gravedad                     0
dtype: int64

In [152]:
les_hechos = les_hechos.rename(columns={'id':'ID', 'n_victimas': 'VICTIMAS', 'fecha':'FECHA', 'aaaa':'ANIO', 'mm':'MES', 'dd':'DIA', 'hora':'HORA', 'cruce':'LUGAR', 'tipo_calle':'MEDIO', 'comuna':'COMUNA', 'longitud':'X', 'latutid':'Y','participantes':'PARTICIPANTES', 'acusado':'ACUSADO', 'victima':'DAMNIFICADO','moto': 'MOTO', 'auto':'AUTO', 'transporte_publico':'TRANSPORTE_PUBLICO', 'camion':'CAMION', 'ciclista':'CICLISTA', 'gravedad' : 'OBITO'})

In [153]:
les_hechos['OBITO'] = les_hechos['OBITO'].replace({'sd': 0, 'SD': 0, np.nan: 0, 'nulo': 0, 'fatal': 1, 'FATAL': 1})

In [154]:
columnas_a_convertir = ['MOTO', 'AUTO', 'TRANSPORTE_PUBLICO', 'CAMION', 'CICLISTA']
les_hechos[columnas_a_convertir] = les_hechos[columnas_a_convertir].applymap(lambda x: 1 if x == 'x' else 0)

/tmp/ipykernel_38264/3409025655.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  les_hechos[columnas_a_convertir] = les_hechos[columnas_a_convertir].applymap(lambda x: 1 if x == 'x' else 0)

In [155]:
les_hechos['PARTICIPANTES'] = les_hechos[columnas_a_convertir].idxmax(axis=1)

In [156]:
les_hechos = les_hechos.drop(columns=['franja_hora', 'direccion_normalizada', 'otra_direccion', 'calle', 'altura','geocodificacion_CABA', 'MOTO', 'AUTO', 'TRANSPORTE_PUBLICO', 'CAMION', 'CICLISTA' ])

In [157]:
les_hechos.isna().sum()

ID                   0
VICTIMAS             0
ANIO                 0
MES                  0
DIA                  0
FECHA                0
HORA                 0
COMUNA             169
MEDIO                0
LUGAR            14378
X                  262
Y                  262
DAMNIFICADO          0
ACUSADO              0
PARTICIPANTES        0
OBITO                0
dtype: int64

In [158]:
les_hechos.shape

(23785, 16)

In [159]:
les_victimas = les_victimas.rename(columns={'ID hecho':'ID', 'EDAD_VICTIMA':'EDAD', 'VEHICULO_VICTIMA':'DAMNIFICADO'})

In [160]:
les_victimas

,ID,AAA,MM,DD,FECHA,DAMNIFICADO,SEXO,EDAD,GRAVEDAD
0,LC-2019-0000053,2019,1,1,2019-01-01,sd,Varon,57,SD
1,LC-2019-0000063,2019,1,1,2019-01-01,sd,SD,SD,SD
2,LC-2019-0000079,2019,1,1,2019-01-01,sd,Varon,SD,SD
3,LC-2019-0000082,2019,1,1,2019-01-01,sd,Varon,45,SD
4,LC-2019-0000082,2019,1,1,2019-01-01,sd,Mujer,45,SD
...,...,...,...,...,...,...,...,...,...
27600,LC-2021-0451911,2021,9,11,2021-09-11,TRANSPORTE PUBLICO,Varon,87,SD
27601,LC-2021-0530228,2021,10,25,2021-10-25,TRANSPORTE PUBLICO,Mujer,60,SD
27602,LC-2021-0530228,2021,10,25,2021-10-25,TRANSPORTE PUBLICO,Mujer,32,SD
27603,LC-2021-0201378,2021,5,2,2021-05-02,MOTO,Varon,32,SD
27604,LC-2021-0229350,2021,5,19,2021-05-19,MOTO,Varon,41,SD

In [161]:
les_victimas.columns

Index(['ID', 'AAA', 'MM', 'DD', 'FECHA ', 'DAMNIFICADO', 'SEXO', 'EDAD',
       'GRAVEDAD'],
      dtype='object')

In [162]:
les_victimas = les_victimas.drop(columns=['GRAVEDAD', 'DAMNIFICADO', 'FECHA '])

In [163]:
les_victimas.isna().sum()

ID      0
AAA     0
MM      0
DD      0
SEXO    0
EDAD    0
dtype: int64

In [164]:
les_victimas.shape

(27605, 6)

In [165]:
lesiones = pd.merge(les_hechos, les_victimas, on='ID', suffixes=('_x', '_y'))

In [166]:
lesiones

,ID,VICTIMAS,ANIO,MES,DIA,FECHA,HORA,COMUNA,MEDIO,LUGAR,...,Y,DAMNIFICADO,ACUSADO,PARTICIPANTES,OBITO,AAA,MM,DD,SEXO,EDAD
0,LC-2019-0000179,1,2019,1,1,2019-01-01,09:00:00,14,SD,NaN,...,-34.559658,CICLISTA,SD,CICLISTA,0,2019,1,1,SD,SD
1,LC-2019-0000053,1,2019,1,1,2019-01-01,01:55:00,8,SD,NaN,...,-34.669125,AUTO,SD,AUTO,0,2019,1,1,Varon,57
2,LC-2019-0000063,1,2019,1,1,2019-01-01,02:00:00,8,SD,NaN,...,-34.677556,SD,SD,MOTO,0,2019,1,1,SD,SD
3,LC-2019-0000079,1,2019,1,1,2019-01-01,02:30:00,7,SD,NaN,...,-34.647349,PEATON,SD,MOTO,0,2019,1,1,Varon,SD
4,LC-2019-0000082,4,2019,1,1,2019-01-01,04:30:00,3,SD,NaN,...,-34.604579,AUTO,SD,TRANSPORTE_PUBLICO,0,2019,1,1,Varon,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27593,LC-2021-0652865,2,2021,12,31,2021-12-31,19:40:00,9,AVENIDA,NaN,...,-34.641753304864,SD,SD,MOTO,0,2021,12,31,Varon,28
27594,LC-2021-0652865,2,2021,12,31,2021-12-31,19:40:00,9,AVENIDA,NaN,...,-34.641753304864,SD,SD,MOTO,0,2021,12,31,Varon,52
27595,LC-2021-0652907,1,2021,12,31,2021-12-31,20:00:00,1,SD,NaN,...,-34.583083,SD,SD,MOTO,0,2021,12,31,Varon,23
27596,LC-2021-0652921,1,2021,12,31,2021-12-31,22:00:00,5,CALLE,MORENO,...,-34.614288229345,MOTO,TRANSPORTE PUBLICO,MOTO,GRAVE,2021,12,31,Varon,31
27597,LC-2020-0244615,1,2020,5,17,2020-05-17,21:00:00,SD,SD,NaN,...,-3472890716,MOTO,AUTO,MOTO,0,2020,5,17,Varon,46

In [167]:
lesiones.isna().sum()

ID                   0
VICTIMAS             0
ANIO                 0
MES                  0
DIA                  0
FECHA                0
HORA                 0
COMUNA             178
MEDIO                0
LUGAR            16713
X                  270
Y                  270
DAMNIFICADO          0
ACUSADO              0
PARTICIPANTES        0
OBITO                0
AAA                  0
MM                   0
DD                   0
SEXO                 0
EDAD                 0
dtype: int64

In [168]:
lesiones.shape

(27598, 21)

In [169]:
lesiones = lesiones.drop(columns=['AAA','MM', 'DD', 'LUGAR'])

In [170]:
lesiones['COMUNA'].unique()

array([14, 8, 7, 3, 15, 11, 9, 1, 4, 12, 2, 5, 6, 13, 10,
       'No Especificada', nan, 'SD'], dtype=object)

In [171]:
lesiones['COMUNA'] = lesiones['COMUNA'].replace('No Especificada', pd.NA)

In [172]:
lesiones['COMUNA'] = lesiones['COMUNA'].replace('SD', pd.NA)

In [173]:
lesiones.dropna(subset=['COMUNA'], inplace=True)

In [174]:
lesiones[lesiones['COMUNA'].isna()]

Empty DataFrame
Columns: [ID, VICTIMAS, ANIO, MES, DIA, FECHA, HORA, COMUNA, MEDIO, X, Y, DAMNIFICADO, ACUSADO, PARTICIPANTES, OBITO, SEXO, EDAD]
Index: []

In [175]:
lesiones.isna().sum()

ID               0
VICTIMAS         0
ANIO             0
MES              0
DIA              0
FECHA            0
HORA             0
COMUNA           0
MEDIO            0
X                0
Y                0
DAMNIFICADO      0
ACUSADO          0
PARTICIPANTES    0
OBITO            0
SEXO             0
EDAD             0
dtype: int64

In [176]:
lesiones

,ID,VICTIMAS,ANIO,MES,DIA,FECHA,HORA,COMUNA,MEDIO,X,Y,DAMNIFICADO,ACUSADO,PARTICIPANTES,OBITO,SEXO,EDAD
0,LC-2019-0000179,1,2019,1,1,2019-01-01,09:00:00,14,SD,-58.408911,-34.559658,CICLISTA,SD,CICLISTA,0,SD,SD
1,LC-2019-0000053,1,2019,1,1,2019-01-01,01:55:00,8,SD,-58.44351,-34.669125,AUTO,SD,AUTO,0,Varon,57
2,LC-2019-0000063,1,2019,1,1,2019-01-01,02:00:00,8,SD,-58.468335,-34.677556,SD,SD,MOTO,0,SD,SD
3,LC-2019-0000079,1,2019,1,1,2019-01-01,02:30:00,7,SD,-58.437425,-34.647349,PEATON,SD,MOTO,0,Varon,SD
4,LC-2019-0000082,4,2019,1,1,2019-01-01,04:30:00,3,SD,-58.398225,-34.604579,AUTO,SD,TRANSPORTE_PUBLICO,0,Varon,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27592,LC-2021-0652849,1,2021,12,31,2021-12-31,19:30:00,9,AVENIDA,-58.513477158887,-34.659713573880,SD,SD,MOTO,0,Varon,29
27593,LC-2021-0652865,2,2021,12,31,2021-12-31,19:40:00,9,AVENIDA,-58.488326609395,-34.641753304864,SD,SD,MOTO,0,Varon,28
27594,LC-2021-0652865,2,2021,12,31,2021-12-31,19:40:00,9,AVENIDA,-58.488326609395,-34.641753304864,SD,SD,MOTO,0,Varon,52
27595,LC-2021-0652907,1,2021,12,31,2021-12-31,20:00:00,1,SD,-58.382894,-34.583083,SD,SD,MOTO,0,Varon,23
27596,LC-2021-0652921,1,2021,12,31,2021-12-31,22:00:00,5,CALLE,-58.414532050899,-34.614288229345,MOTO,TRANSPORTE PUBLICO,MOTO,GRAVE,Varon,31

In [177]:
lesiones.to_csv('DATA/lesiones.csv', index=False)

In [178]:
accidentes = pd.concat([homicidios, lesiones], ignore_index=True)

In [179]:
accidentes

,ID,VICTIMAS,FECHA,ANIO,MES,DIA,HORA,MEDIO,COMUNA,X,Y,PARTICIPANTES,ACUSADO,ROL,DAMNIFICADO,SEXO,EDAD,OBITO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,AVENIDA,8,-58.47533969,-34.68757022,MOTO-AUTO,AUTO,CONDUCTOR,MOTO,MASCULINO,19,1
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,GRAL PAZ,9,-58.50877521,-34.66977709,AUTO-PASAJEROS,PASAJEROS,CONDUCTOR,AUTO,MASCULINO,70,1
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,AVENIDA,1,-58.39040293,-34.63189362,MOTO-AUTO,AUTO,CONDUCTOR,MOTO,MASCULINO,30,1
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,AVENIDA,8,-58.46503904,-34.68092974,MOTO-SD,SD,CONDUCTOR,MOTO,MASCULINO,18,1
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,AVENIDA,1,-58.38718297,-34.62246630,MOTO-PASAJEROS,PASAJEROS,CONDUCTOR,MOTO,MASCULINO,29,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26686,LC-2021-0652849,1,2021-12-31,2021,12,31,19:30:00,AVENIDA,9,-58.513477158887,-34.659713573880,MOTO,SD,NaN,SD,Varon,29,0
26687,LC-2021-0652865,2,2021-12-31,2021,12,31,19:40:00,AVENIDA,9,-58.488326609395,-34.641753304864,MOTO,SD,NaN,SD,Varon,28,0
26688,LC-2021-0652865,2,2021-12-31,2021,12,31,19:40:00,AVENIDA,9,-58.488326609395,-34.641753304864,MOTO,SD,NaN,SD,Varon,52,0
26689,LC-2021-0652907,1,2021-12-31,2021,12,31,20:00:00,SD,1,-58.382894,-34.583083,MOTO,SD,NaN,SD,Varon,23,0
26690,LC-2021-0652921,1,2021-12-31,2021,12,31,22:00:00,CALLE,5,-58.414532050899,-34.614288229345,MOTO,TRANSPORTE PUBLICO,NaN,MOTO,Varon,31,GRAVE

In [180]:
accidentes.isna().sum()

ID                   0
VICTIMAS             0
FECHA                0
ANIO                 0
MES                  0
DIA                  0
HORA                 0
MEDIO                0
COMUNA               0
X                    0
Y                    0
PARTICIPANTES        0
ACUSADO              0
ROL              25974
DAMNIFICADO          0
SEXO                 0
EDAD                 0
OBITO                0
dtype: int64

In [181]:
accidentes['ROL'].unique()

array(['CONDUCTOR', 'PASAJERO_ACOMPAÑANTE', 'PEATON', 'SD', 'CICLISTA',
       nan], dtype=object)

In [182]:
accidentes['ROL'] = accidentes['ROL'].replace({'SD' : 'DESCONOCIDO'})
accidentes['ROL'] = accidentes['ROL'].replace({'PASAJERO_ACOMPAÑANTE' : 'PASAJERO'})

In [183]:
accidentes['ROL'].fillna('DESCONOCIDO', inplace=True)

In [184]:
accidentes['ROL'].unique()

array(['CONDUCTOR', 'PASAJERO', 'PEATON', 'DESCONOCIDO', 'CICLISTA'],
      dtype=object)

In [185]:
accidentes['OBITO'].fillna(0, inplace=True)

In [186]:
sd_por_columna = accidentes.eq('SD').sum()

In [187]:
sd_por_columna

ID                   0
VICTIMAS             0
FECHA                0
ANIO                 0
MES                  0
DIA                  0
HORA                 1
MEDIO            11260
COMUNA               0
X                  117
Y                  117
PARTICIPANTES        0
ACUSADO          16887
ROL                  0
DAMNIFICADO      12001
SEXO              1806
EDAD              3803
OBITO                0
dtype: int64

In [188]:
accidentes['ACUSADO'].unique()

array(['AUTO', 'PASAJEROS', 'SD', 'OBJETO FIJO', 'CARGAS', 'MOTO',
       'MULTIPLE', 'OTRO', 'BICICLETA', 'TREN', 'CICLISTA', 'MOVIL',
       'CAMIONETA', 'TAXI', 'TRANSPORTE PUBLICO', 'CAMION', 'UTILITARIO',
       'MONOPATIN', 'PEATON'], dtype=object)

In [189]:
accidentes['ACUSADO'] = accidentes['ACUSADO'].replace({'SD' : 'DESCONOCIDO'})

In [190]:
accidentes['MEDIO'].unique()

array(['AVENIDA', 'GRAL PAZ', 'CALLE', 'AUTOPISTA', 'SD'], dtype=object)

In [191]:
accidentes['MEDIO'] = accidentes['MEDIO'].replace({'GRAL PAZ' : 'AUTOPISTA'})
accidentes['MEDIO'] = accidentes['MEDIO'].replace({'SD' : 'DESCONOCIDO'})

In [192]:
accidentes['DAMNIFICADO'].unique()

array(['MOTO', 'AUTO', 'PEATON', 'SD', 'CARGAS', 'BICICLETA', 'PASAJEROS',
       'MOVIL', 'CICLISTA', 'TRANSPORTE PUBLICO', 'CAMIONETA', 'OTRO',
       'CAMION', 'UTILITARIO', 'TAXI', 'MIXTO', 'MONOPATIN'], dtype=object)

In [193]:
accidentes['SEXO'].unique()

array(['MASCULINO', 'FEMENINO', 'SD', 'Varon', 'Mujer', 'mujer', 'MUJER',
       'sd', 'varon'], dtype=object)

In [194]:
mapeo_sexo = {'Varon': 'MASCULINO',
              'varon': 'MASCULINO',
              'Mujer': 'FEMENINO',
              'mujer': 'FEMENINO',
              'MUJER': 'FEMENINO',
              'sd': 'DESCONOCIDO',
              'SD': 'DESCONOCIDO'}

In [195]:
accidentes['SEXO'] = accidentes['SEXO'].replace(mapeo_sexo)

In [196]:
accidentes['SEXO'].unique()

array(['MASCULINO', 'FEMENINO', 'DESCONOCIDO'], dtype=object)

In [197]:
accidentes['EDAD'].unique()

array([19, 70, 30, 18, 29, 22, 16, 59, 65, 34, 41, 50, 38, 21, 52, 36, 20,
       54, 'SD', 56, 24, 78, 79, 26, 57, 37, 58, 23, 60, 42, 53, 51, 40,
       87, 76, 75, 35, 80, 43, 45, 67, 27, 55, 49, 81, 25, 33, 46, 83, 39,
       28, 7, 48, 4, 82, 32, 17, 47, 61, 10, 95, 73, 84, 66, 85, 1, 15,
       13, 77, 44, 31, 62, 74, 71, 11, 86, 69, 72, 12, 63, 92, 68, 91, 64,
       5, 88, 3, 6, 9, 2, 90, 89, 97, '68', 8, 14, 96, '43', '28', '40',
       '27', '21', '46', '72', '32', '39', '30', '36', '45', '41', '44',
       '24', '19', '34', '87', '50', '16', '14', 'sd', '42', '23', '31',
       '61', '26', '29', '12', '49', '62', '90', '55', '25', '37', '60',
       '56', '22', '35', '58', '20', '64', '78', '65', '51', '53', '66',
       '18', '71', '76', '47', '52', '33', '48', '13', '63', '59', '54',
       '38', '15', '57', '70', '73', '74', '80', '67', '5', '84', '94',
       '86', '3', '69', '6', '17', '91', '7', '8', '82', '75', '85', '77',
       '4', '81', '83', '2', '11', '88', '9', '79', '10', 94, 0, 93],
      dtype=object)

In [198]:
accidentes['EDAD'] = accidentes['EDAD'].replace({'SD' : 0})
accidentes['EDAD'] = accidentes['EDAD'].replace({'sd' : 0})

In [199]:
accidentes['EDAD'] = accidentes['EDAD'].astype(int)

In [200]:
accidentes['EDAD'].unique()

array([19, 70, 30, 18, 29, 22, 16, 59, 65, 34, 41, 50, 38, 21, 52, 36, 20,
       54,  0, 56, 24, 78, 79, 26, 57, 37, 58, 23, 60, 42, 53, 51, 40, 87,
       76, 75, 35, 80, 43, 45, 67, 27, 55, 49, 81, 25, 33, 46, 83, 39, 28,
        7, 48,  4, 82, 32, 17, 47, 61, 10, 95, 73, 84, 66, 85,  1, 15, 13,
       77, 44, 31, 62, 74, 71, 11, 86, 69, 72, 12, 63, 92, 68, 91, 64,  5,
       88,  3,  6,  9,  2, 90, 89, 97,  8, 14, 96, 94, 93])

In [201]:
accidentes['DAMNIFICADO'].unique()

array(['MOTO', 'AUTO', 'PEATON', 'SD', 'CARGAS', 'BICICLETA', 'PASAJEROS',
       'MOVIL', 'CICLISTA', 'TRANSPORTE PUBLICO', 'CAMIONETA', 'OTRO',
       'CAMION', 'UTILITARIO', 'TAXI', 'MIXTO', 'MONOPATIN'], dtype=object)

In [202]:
accidentes['DAMNIFICADO'] = accidentes['DAMNIFICADO'].replace({'SD' : 'DESCONOCIDO'})

In [203]:
accidentes['DAMNIFICADO'].unique()

array(['MOTO', 'AUTO', 'PEATON', 'DESCONOCIDO', 'CARGAS', 'BICICLETA',
       'PASAJEROS', 'MOVIL', 'CICLISTA', 'TRANSPORTE PUBLICO',
       'CAMIONETA', 'OTRO', 'CAMION', 'UTILITARIO', 'TAXI', 'MIXTO',
       'MONOPATIN'], dtype=object)

In [204]:
accidentes['OBITO'].unique()

array([1, 0, 'GRAVE', 'grave'], dtype=object)

In [216]:
accidentes['OBITO'] = accidentes['OBITO'].replace({0: 0, 'sd': 0, 'SD': 0, np.nan: 0, 'NA': 0, 'nulo': 0})

In [217]:
accidentes['OBITO'] = pd.to_numeric(accidentes['OBITO'], errors='coerce').astype('Int64')

In [218]:
accidentes['OBITO'].unique()

<IntegerArray>
[1, 0]
Length: 2, dtype: Int64

In [219]:
accidentes['OBITO'].info()

<class 'pandas.core.series.Series'>
Index: 26561 entries, 0 to 26690
Series name: OBITO
Non-Null Count  Dtype
--------------  -----
26561 non-null  Int64
dtypes: Int64(1)
memory usage: 441.0 KB

In [220]:
accidentes = accidentes.loc[~accidentes['X'].isin(['SD', 'sd'])]

In [221]:
sd_por_columna = accidentes.eq('SD').sum()
sd_por_columna

ID               0
VICTIMAS         0
FECHA            0
ANIO             0
MES              0
DIA              0
HORA             1
MEDIO            0
COMUNA           0
X                0
Y                0
PARTICIPANTES    0
ACUSADO          0
ROL              0
DAMNIFICADO      0
SEXO             0
EDAD             0
OBITO            0
dtype: Int64

In [222]:
accidentes['HORA'].unique()

array([datetime.time(4, 0), datetime.time(1, 15), datetime.time(7, 0),
       ..., datetime.time(22, 44), datetime.time(0, 57),
       datetime.time(6, 38)], dtype=object)

In [223]:
accidentes['X'] = pd.to_numeric(accidentes['X'], errors='coerce')
accidentes['Y'] = pd.to_numeric(accidentes['Y'], errors='coerce')

In [224]:
accidentes = accidentes.dropna(subset=['X', 'Y'])

In [225]:
accidentes

,ID,VICTIMAS,FECHA,ANIO,MES,DIA,HORA,MEDIO,COMUNA,X,Y,PARTICIPANTES,ACUSADO,ROL,DAMNIFICADO,SEXO,EDAD,OBITO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,AVENIDA,8,-58.475340,-34.687570,MOTO-AUTO,AUTO,CONDUCTOR,MOTO,MASCULINO,19,1
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,AUTOPISTA,9,-58.508775,-34.669777,AUTO-PASAJEROS,PASAJEROS,CONDUCTOR,AUTO,MASCULINO,70,1
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,AVENIDA,1,-58.390403,-34.631894,MOTO-AUTO,AUTO,CONDUCTOR,MOTO,MASCULINO,30,1
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,AVENIDA,8,-58.465039,-34.680930,MOTO-SD,DESCONOCIDO,CONDUCTOR,MOTO,MASCULINO,18,1
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,AVENIDA,1,-58.387183,-34.622466,MOTO-PASAJEROS,PASAJEROS,CONDUCTOR,MOTO,MASCULINO,29,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26686,LC-2021-0652849,1,2021-12-31,2021,12,31,19:30:00,AVENIDA,9,-58.513477,-34.659714,MOTO,DESCONOCIDO,DESCONOCIDO,DESCONOCIDO,MASCULINO,29,0
26687,LC-2021-0652865,2,2021-12-31,2021,12,31,19:40:00,AVENIDA,9,-58.488327,-34.641753,MOTO,DESCONOCIDO,DESCONOCIDO,DESCONOCIDO,MASCULINO,28,0
26688,LC-2021-0652865,2,2021-12-31,2021,12,31,19:40:00,AVENIDA,9,-58.488327,-34.641753,MOTO,DESCONOCIDO,DESCONOCIDO,DESCONOCIDO,MASCULINO,52,0
26689,LC-2021-0652907,1,2021-12-31,2021,12,31,20:00:00,DESCONOCIDO,1,-58.382894,-34.583083,MOTO,DESCONOCIDO,DESCONOCIDO,DESCONOCIDO,MASCULINO,23,0
26690,LC-2021-0652921,1,2021-12-31,2021,12,31,22:00:00,CALLE,5,-58.414532,-34.614288,MOTO,TRANSPORTE PUBLICO,DESCONOCIDO,MOTO,MASCULINO,31,0

In [226]:
accidentes.to_csv('DATA/accidentes.csv', index=False)